name: CI-Check

on:
  pull_request:
    branches: [ "main" ]

jobs:
  verificacao:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Rodando check de segurança
        run: echo "Configurações de segurança verificadas!"